.ql-editor {
  border: none;
  outline: none;
  padding: 0rem 0.5rem;
  min-height: 50px;
  max-height: 100px;
  overflow: auto;
  position: relative;
}
.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: italic;
  pointer-events: none;
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
